.formControl
{
    width:40rem;
}
.input-group {
  justify-content: center
}
textarea{
    width:40rem;
    height:40rem;
    margin:2rem;
}
.rowButton {
  justify-content: center
}
.btn.btn-lg {
  background-color: #f08734;
}
