<div class="container-fluid justify-content-center ">
  <h2 class="text-center"> Etablissement Partenaire de l'entreprise</h2>
  <div class="row test2 ">
    <div class="col-md-12">
      <ul class="listPartenaire list-group list-group-horizontal justify-content-center">
        <li class="test">
          <a href="#">
            <div class="PartenaireLogo  list-group-item text-center ">
              <img class="img-responsive" src="..\..\assets\Mamama.png" />
            </div>
          </a>
        </li>

        <li class="test">
          <a href="#">
            <div class="PartenaireLogo  list-group-item ml-5">
              <img class="img-responsive" src="..\..\assets\Velicious.jpg" />
              <link href="C:\Users\titi\source\repos\Alimevovf\Alimevovf\ClientApp\src\app\app.component.css" rel="stylesheet" />
            </div>
          </a>
        </li>
        <li class="test">
          <a href="#">
            <div class="PartenaireLogo  list-group-item ml-5">
              <img class="img-responsive" src="..\..\assets\Cafe Kleber.jpeg" />
            </div>
          </a>
        </li>
        <li class="test">
          <a href="#">
            <div class="PartenaireLogo  list-group-item ml-5">
              <img class="img-responsive" src="..\..\assets\La Petite Cuillère.jpeg" />
            </div>
          </a>
        </li>
        <li class="test">
          <a href="#">
            <div class="PartenaireLogo  list-group-item ml-5">
              <img class="img-responsive" src="..\..\assets\Les Canailles.png" />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
