p {
   margin-top:5rem;
   margin-bottom:5rem;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  text-transform:uppercase;
  color: black;
  font-size: 30px;
  font-style: normal;
  color: black;
  font-weight: 600;
  background-image: none;
  text-align: center;
  letter-spacing:5px;
}
.color-title {
  color: #a17545;
}
