p {
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  background-image: none;
}

@media screen and (max-width: 1280px) {
  /* Rédigez vos propriétés CSS ici */
}

#container-hp {
  /*background-image: url("..\..\..\assets\Accueil.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
  background-position-y: -10rem;
  background-position-x: center;
  background-attachment: fixed;
}


.test {
  text-align: center;
  align-content: center;
}

.wrapper {
  width: 100%;
  height: 10vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 50%;
  position: relative;
}

#banner2 {
  background-image: url("..\..\..\assets\Accueil.jpg");
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 45vh;
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #fff;
  font-size: 25px;
  margin-top: 10rem;
}
