<div class="container-fluid ">
  <div class="row">
    <div *ngFor="let article of articles" class="col-md-4 col-sm-6">
      <a routerLink="/article/{{article.id}}">
        <div class=" card border-0">
          <div class="face face1">
            <div class="content">
              <img class="img-fluid width-img" src={{article.picture}}>
              <h3>{{article.title}}</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <div [innerHTML]="article.body">

              </div>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>




