<!--<div class="container-fluid ">
  <div class="row">
    <div *ngFor="let article of articles" class="col-md-4 col-sm-6">
      <a routerLink="/article/{{article.id}}">
        <div class=" card border-0">
          <div class="face face1">
            <div class="content">
              <img class="img-fluid width-img" src={{article.picture}}>
              <h3>{{article.title}}</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <div [innerHTML]="article.abstract">

              </div>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>!-->
  <div class="container-fluid ">
    <div class="row">
      <div *ngFor="let article of articles" class="col-3 border border-dark p-3 shadow-lg">
        <a routerLink="/article/{{article.id}}">
          <div class="row">
            <div class="col-12">
              <img src="{{article.picture}}" class="img-fluid" />
            </div>
            <div class="col-12">
              <h2 class="text-center">{{article.title}}</h2>
              <p class="text-center" [innerHTML]="article.abstract"></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>



