 <!--Menu-->

 
      <!--Card
      <div *ngFor="let blog of blogs"  class="card m-auto card col-md-4 col-lg-4 border-white">
        <h4>{{blog.title}}</h4>
        <p [innerHTML]="blog.content"></p>
      </div>
      <div class="card m-auto card col-md-4 col-lg-4 border-white">
        <div class="card-header bg-white card-title font-weight-bolder text-uppercase text-center fonttext">
          Article*

        </div>
        <img src="assets/img/couscous-royal.jpeg" class="couscous m-auto img-fluid card-img" />
        <div class="card card-body d-flex justify-content-between border-white">
        </div>-->
<!--Cards-->


