<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <h1 class="text-center" *ngIf="article.id<1"> Creation d'un nouvel article</h1>
      <h1 class="text-center" *ngIf="article.id>=1"> Modification de l'article : {{article.id}}</h1>
    </div>

  </div>
  
  <div class="row">
    <div class="input-group col-md-12 ">
      <div class="input-group-prepend ">
        <h1><input type="text" class="form-control formControl" [(ngModel)]="article.title" /></h1>
      </div>
    </div>
  </div>
  <h3 class="text-center">Indiquez le lien vers l'image</h3>
  <!--<div class="row">
    <div class="input-group col-md-12 ">
      <div class="input-group-prepend">
        <input type="text" class="form-control formControl" [(ngModel)]="article.picture" />
      </div>
    </div>
  </div>-->
  <div class="container text-center">
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" [(ngModel)]="article.picture" />
    
  </div>
  <div class="row">
    <div class="input-group col-md-12 ">
      <div class="input-group-prepend">
        <article>
          <textarea [(ngModel)]="article.body"> </textarea>
        </article>
      </div>
    </div>
  </div>
  
  <div class="text-right text_date">
    <div class="row">
      <div class="input-group col-md-12 ">
        <p *ngIf="article.id<1">
          La date d'ajout de l'article sera le:

          {{formatDate(article.creationDate)}}
        </p>
        <p *ngIf="article.id>=1">
          La date de modification de l'article sera le
          {{formatDate(article.lastModification)}}
        </p>
      </div>
    </div>
  </div>

  <div class="row rowButton">
    <button type="button" class="btn btn-lg" (click)="deleteArticle()">Supprimer</button>
    <button type="button" class="btn btn-lg" (click)="saveArticle()">Sauvegarder</button>
    <a href="#"><input type="button" class="btn btn-lg " value="Accueil" /> </a>

  </div>
</div>

