.formControl
{
    width:40rem;
}
.texttitle{
    letter-spacing:5px;
}
.input-group {
  justify-content: center
}
textarea {
  width: 40rem;
  height: 40rem;
  margin: 2rem;
  
}
.rowButton {
  justify-content: center
}
.btn.btn-lg {
  background-color: #f08734;
}
.container {
  background-color:bisque;
  box-shadow: 1px 1px 20px;
}

.ql-snow.ql-toolbar {
  background: #eee !important;
}
.ql-container.ql-snow{
background:white;
}

