<footer class="page-footer bg-dark font-small">
  <div class="container-fluid">
    <div class="row justify-content-center py-3">
      
      <div class="col-5 col-lg-3 mt-lg-4 text-center">
        <h5 class="font-weight-bold h6 text-uppercase">Informations</h5>
        <ul class="list-unstyled">
          <li><small><a href="mentionslegales">Mentions légales</a></small></li>
          <li><small><a>Données Personnelles</a></small></li>
          <li><small><a>Contact</a></small></li>
        </ul>
      </div>
     
    </div>
    <hr class="w-75 bg-white" />
    <div class="row justify-content-center">
      <div class="col-12 text-center my-2">
        <img src="..\..\assets\facebook48 .png" class="img-fluid m-2" style="height: 30px;" />
        <img src="..\..\assets\facebook48 (1).png" class="img-fluid m-2" style="height: 30px;" />
        <img src="..\..\assets\facebook48 (2).png" class="img-fluid m-2" style="height: 30px;" />
        <img src="..\..\assets\facebook48 (4).png" class="img-fluid m-2" style="height: 30px;" />
        <img src="../assets/img/amazonIcon.png" class="img-fluid m-2" style="height: 30px;" />
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020
    <span>AlimEvo</span>
  </div>
 </footer>
